body{
    display: block;
    
}

nav{
    visibility: hidden;
}

header{
    background-color: antiquewhite;
}

.profile{
    background-color: thistle;
}

nav{
    display: block;
    background-color: gold;
}

.contact{
    background-color: turquoise;
}
.objective{
    background-color: pink;
}

.pic{
    background-color: slategray;
    background-image: url("../img/paul-profile.jpg");
    background-size: cover;
    height: 40vh;
}

.hobbies{
    background-color: bisque;
}

.workexperience{
    background-color: blanchedalmond;
}

.education{
    background-color: burlywood;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* desktop */
@media screen and ( min-width: 1024px ){
    body{
        display: grid;
        grid-template-columns: 3fr 1vw 4fr 1vw 3fr;
        grid-template-areas:
        "header header header header header"
        "pic. profile . nav"
        ". . contact . nav"
        "objective objective objective . nav"
        "workexp workexp workexp . hobbies"
        "workexp workexp workexp . education"
    }

    header{
        grid-area: header;
    }

    .profile{
        grid-area: profile;
    }

    nav{
        visibility: visible;
        grid-area: nav;
    }

    .contact{
        grid-area: contact;
    }
    .objective{
        grid-area: objective;
    }

    .pic{
        grid-area: pic;
    }

    .hobbies{
        grid-area: hobbies;
    }

    .workexperience{
        grid-area: workexp;
    }

    .education{
        grid-area: education;
    }
    
}